<div id="buttons" class="row">
<div class="col-md-1 col-md-offset-5">{% block prev_btn %} <a class="btn btn-default " href="{{ prev_url }}">PREVIOUS PAGE</a>{% endblock %}</div>
<div class="col-md-1">{% block next_btn %}<a class="btn btn-default " href="{{ next_url }}">NEXT PAGE</a>{% endblock %}</div>
</div>
</body>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>